In [5]:
import pandas as pd
import random

In [6]:
df = pd.read_csv('census_data.csv')

# Amostragem Aleat√≥ria Simples

Puxa uma quantidade de amostras aleatoriamente de uma base de dados

In [7]:
df_amostra_aleatoria_simples = df.sample(n = 100)

In [9]:
df_amostra_aleatoria_simples.head(2)

,Unnamed: 0,first_name,last_name,age,gender,income,state,occupation,email,phone_number,address,city,zipcode
11926,11926,Bryan,Miller,99,Female,143557,OK,Mudlogger,susanbanks@example.com,001-449-760-6633x395,"264 John Rapids Apt. 185\nEast Amberberg, MP 2...",Jeffersonbury,87640
7896,7896,Natasha,Vance,88,Non-binary,181439,SC,Forest/woodland manager,kellyrobin@example.com,+1-990-617-1910x2769,"31640 King Mall Apt. 974\nWest Brittanyport, N...",Benjaminfort,48127